

.container {
    max-width: 1500px;
    margin: 0 auto;
   } 
.tomato {
    color: rgb(253, 110, 10)
}
/* header section */
.header-section {
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-position: bottom right, left;
    background-repeat: no-repeat;
    background-color: #fff8f3;
    
}
.hero {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
  
}
.logo h1{
    font-size: 50px;
}
.main-manu{
    display: flex;
    column-gap: 50px;
    align-items: center;
    }
    .main-manu li{
        list-style: none;
        
       } 
       .main-manu  .hire-button {
        background-color: rgb(253, 110, 10);
        padding: 13px 33px;
        border-radius: 8px;
        color: azure;
        font-weight: bold;
}
/* .hero-contents */
      .hero-content{
        display: flex; 
        align-items: center;
        column-gap: 50px;
      
      } 
       .content-area {
        display: flex;
        flex-direction: column;
        row-gap: 20px;

      }
      .content-area h2{ 
      }
      .content-area h1{
        font-size: 55px;
      }
      .content-area p {
        font-size: 20px;
        color: #757575;
    }
  .content-area .button a {
      background-color: rgb(253, 110,10);
      padding: 18px 33px; 
      border-radius: 10px;
      color: white;
      font-weight: bold;
      font-size: 20px;
      text-decoration: none;
 }
           /* header section end */

 /* about Me */
 .about-me {
display: flex;
flex-direction: column;
align-items: center;
background-color: #fff8f3;
margin-top: 140px;
padding: 100px 350px;
border-radius: 20px;
row-gap: 30px;

}
.about-me p{
  font-size: 18px;
  color: #757575;
  text-align: center;
} 
.about-me h1{
  font-size: 35px;
}
.contact-info{
  display: flex;
  column-gap: 50px;

}
.info {
  text-align: center;
}
.info h3{
  font-size: 20px;
  color: #757575;
  font-weight: normal;
}
.info p{
  font-size: 17px;
  font-weight: bold;
  color: #474747;

}
/* whit i do section */
.skill-section h1 {
font-size: 35px;
text-align: center;
margin-top: 100px;
margin-bottom: 50px;

}
.skill-title {
  display: flex;
  gap: 25px;
  margin-bottom: 100px;

  
}
.skill-info {
  background: #FFFFFF;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.158);
  border-radius: 10px;
  padding: 50px;

}
.skill-name {
  font-size: 22px;
  font-weight: 700px;
 margin-top: 20px;
 margin-bottom: 20px;
}

.skill-info h3 {
    font-size: 20px;
}
.skill-info p{
  font-size: 18px;
  color: #757575;
}
/* what I do section end */

/* resume section */
.resume {
  margin-bottom: 100px;
}
.resume h1 {
  text-align: center;
  font-weight: 700px;
  font-size: 38px; 
  margin-bottom: 50px;
}

.flex {
  display: flex;
column-gap: 635px;
}
.flex h3 {
  font-size: 22px;
}
  .resume1 {
  display: flex;
  gap: 35px;
 }
 .resume-item h2{
  font-size: 30px;
  margin-top: 23px;
  color: #474747;
}
.resume-item h4{ 
font-size: 22px;
margin-top: 18px;
margin-bottom: 18px;
color: #757575;
}
.resume-item p {
  font-size: 20px;
  color: #757575;
  margin-bottom: 35px;
}
.resume-butten a {
font-size: 20px;
padding: 20px 42px;
font-weight: 700px;
background-color: rgb(253, 110,10);
color: white;
text-decoration: none;
border-radius: 8px;

}
.resume .resume-butten {
  text-align: center;
  margin-top: 130px}
  /* resume section end */
  
  
  /* footer section */

  .footer-info {
    display: flex;
    background-color: #fff8f3;
    gap: 110px;
    padding: 100px 300px;
    margin-bottom: 80px;
   }
 
  .section-title {
    font-size: 35px;
    text-align: left;
    margin-bottom: 50px;
    font-weight: 700px;
  }
  .section-patticular {
    font-size: 20px;
    margin-bottom: 30px;
    color: #757575;
}
.img {
  display: flex;
}
 
  
  .from-action a{
background-color: rgb(253, 110, 10);
padding: 20px 40px;
border-radius: 8px;
font-size: 18px;
color: white;
text-decoration: none;
}

.from-action textarea{
margin-bottom: 35px;
margin-top: 20px;
width: 110%;
padding: 25px 150px 200px 15px;
border: 0;
}
.area input[type="text"]{
  padding: 25px 30px;
  width: 110%;
  border: 0;
 
}
.area input[type="email"]{
  padding: 25px 30px;
  width: 110%;
  border: 0;
  margin-top: 20px;
 
}





