
/* Header section */
.container {
    max-width: 1200px;
    margin: 0 auto;
   } 
.tomato {
    color: tomato;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
}
.logo h1{
    font-size: 40px;
}
.main-manu{
    display: flex;
    column-gap: 50px;
    }
    .main-manu li{
        list-style: none;
       } 
       .main-manu  .hire-button {
        background-color: tomato;
       }
   
/* header section end */